## The purpose of this notebook is to take random contacts and assign them to cities according to the population of those cities.

In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from random import choices

#read the data file for cites
path = '../data/uscitiesv1.4.csv'
%time citiesDF = pd.read_csv(path)
#print("df shape:", df.shape)

#read the data file for contacts
path = '../data/contacts1.csv'
%time concactsDF = pd.read_csv(path)
print("\nThis cell loads the contacts in concactsDF and cities in citiesDF")
print("citiesDF shape:", citiesDF.shape, "\tconcactsDF shape: ", concactsDF.shape)
concactsDF

CPU times: user 96.9 ms, sys: 22 ms, total: 119 ms
Wall time: 137 ms
CPU times: user 3.38 ms, sys: 444 µs, total: 3.83 ms
Wall time: 3.76 ms

This cell loads the contacts in concactsDF and cities in citiesDF
citiesDF shape: (36651, 16) 	concactsDF shape:  (896, 4)

      FirstName       LastName   MobilePhone                            email
0          Adam       Bergnaum  990-717-6872               Adam95@example.com
1         Julia        Krajcik  253-390-6538      Julia_Krajcik92@example.com
2         Aimee  Runolfsdottir  064-313-1136              Aimee73@example.com
3        Ericka     McCullough  297-886-4531             Ericka15@example.com
4        Wilmer      Powlowski  361-341-6124   Wilmer.Powlowski92@example.com
5           Jon        Schmitt  950-261-0525        Jon_Schmitt93@example.com
6        Linnea      Armstrong  324-850-2826   Linnea_Armstrong51@example.com
7        Joseph        Abshire  099-857-2723      Joseph_Abshire3@example.com
8         Ethel        Koelpin  987-983-7242      Ethel_Koelpin19@example.com
9          Olen         Schoen  289-534-9409        Olen_Schoen44@example.com
10     Rosalind         Crooks  135-090-3622      Rosalind_Crooks@example.com
11          Ora        Koelpin  173-949-6567        Ora.Koelpin38@example.com
12      Eliezer          Boehm  299-788-1079      Eliezer_Boehm75@example.com
13      Emanuel           Kuhn  171-259-6258         Emanuel.Kuhn@example.com
14     Felicita          Runte  381-031-8891       Felicita_Runte@example.com
15        Orpha           Rath  217-144-7933           Orpha.Rath@example.com
16       Brandy         Sawayn  254-452-9551        Brandy.Sawayn@example.com
17       Waylon        Farrell  818-465-0679       Waylon.Farrell@example.com
18      Osbaldo          Sipes  097-128-0601        Osbaldo.Sipes@example.com
19      Justice          Mante  264-258-1148            Justice22@example.com
20      Lucinda           Lowe  004-023-3342            Lucinda71@example.com
21      Cedrick          Borer  505-267-0690        Cedrick_Borer@example.com
22        Willa            Toy  256-426-7718              Willa55@example.com
23      Florian      Schneider  853-960-9497            Florian91@example.com
24        Daren         Fisher  391-718-5702              Daren53@example.com
25      Terrill        Reichel  844-239-9431      Terrill_Reichel@example.com
26       Alyson          Hilll  958-276-8044             Alyson87@example.com
27         Bret       Gislason  557-163-0720      Bret.Gislason67@example.com
28      Annabel        Treutel  658-273-3564    Annabel.Treutel98@example.com
29       Melisa      Bashirian  900-795-9155             Melisa32@example.com
..          ...            ...           ...                              ...
866      Danial        Langosh  499-684-4714             Danial54@example.com
867  Providenci       Baumbach  279-610-6276  Providenci_Baumbach@example.com
868   Gwendolyn         Howell  343-076-8570          Gwendolyn46@example.com
869       Reece        Waelchi  825-457-6142              Reece80@example.com
870      Fannie       Cummings  595-359-4077    Fannie_Cummings27@example.com
871         Nat       Reynolds  229-639-5573       Nat_Reynolds19@example.com
872     Estella         O'Hara  665-280-2094      Estella.OHara71@example.com
873      Meggie      Ankunding  846-631-3485             Meggie28@example.com
874       Urban          Hilll  483-390-3674        Urban.Hilll74@example.com
875      Bonnie       Schimmel  577-178-4377    Bonnie_Schimmel47@example.com
876      Adrain          Boyle  677-721-3042             Adrain74@example.com
877      Wilmer           Feil  701-004-2741         Wilmer.Feil7@example.com
878     Gabriel         Raynor  030-589-9664             Gabriel7@example.com
879     Mozelle       Hartmann  020-872-8004     Mozelle.Hartmann@example.com
880   Marcellus        Roberts  732-585-3292  Marcellus_Roberts65@example.com
881         Asa         Murray  299-503-6984                Asa11@example.com
882       Judge       Ondricka  746-083-8491       Judge_Ondricka@example.com
883         Fay          Bruen  009-376-7263            Fay_Bruen@example.com
884       Mable       Leuschke  168-680-7876               Mable7@example.com
885       Ayden           Dare  557-393-8552         Ayden_Dare26@example.com
886      Adrian          Mante  683-210-5321         Adrian_Mante@example.com
887       Aidan     Hodkiewicz  051-425-7495              Aidan12@example.com
888       Diana         Kuphal  120-291-6491              Diana53@example.com
889       Cyrus           Wiza  215-446-3013              Cyrus56@example.com
890      Jaylen           Dare  002-255-1918        Jaylen_Dare49@example.com
891   Carolanne         Hamill  455-255-9428     Carolanne_Hamill@example.com
892        Reta           Conn  084-466-3247            Reta_Conn@example.com
893     Michele       Jacobson  571-298-1459     Michele.Jacobson@example.com
894       Kelli        Weimann  420-181-8885       Kelli_Weimann1@example.com
895      Antwan         Murray  859-773-8638        Antwan.Murray@example.com

[896 rows x 4 columns]

In [2]:
df2 =  citiesDF.loc[citiesDF['population'] > 100].sort_values(by=['population'],ascending=False)
cityIndex = df2.index.values
population = df2['population'].values
print("This cell creates two arrays: one for the cityIndex and one for the population")
print("They will be used to select a weighted random city for each of the contacts")

This cell creates two arrays: one for the cityIndex and one for the population
They will be used to select a weighted random city for each of the contacts

In [3]:

#choices(cityIndex,population)  will pick from the cityIndex array based on the weight of population

# create an array of cities, one for each contact 
arr = []
for x in range (0,len(concactsDF)):
    arr.append(choices(cityIndex,population))
# convert array to data frame    
randomCityDf = pd.DataFrame(arr, columns=['cityId'])

#merge the contact data fram with the randomCity Dataframe based on the index of the contacts
mdf1 = pd.merge(concactsDF,randomCityDf,how='left',on=concactsDF.index)

df4 = df2[['city','state_id','county_name','lat','lng','population','density']]
df4.insert(0,'cityId',df4.index)

In [8]:
output = pd.merge(mdf1,df4)
csvOutput = output.sort_values('key_0').to_csv(index=False)

contactsFile = open("contacts.csv","w")
contactsFile.write(csvOutput)

105043

In [5]:
summary = output.groupby(by="city").size().reset_index(name='counts')
summary.sort_values('counts',ascending=False)

                   city  counts
289            New York      50
239         Los Angeles      33
446          Washington      16
261               Miami      15
76              Chicago      15
328        Philadelphia      12
329             Phoenix      12
388       San Francisco      12
110             Detroit      11
27            Baltimore      10
21              Atlanta      10
108              Denver       8
79           Cincinnati       8
47               Boston       8
283           Nashville       8
89             Columbus       7
186             Houston       7
399             Seattle       7
192        Indianapolis       6
267         Minneapolis       6
367           Rochester       6
384         San Antonio       6
389            San Jose       6
340            Portland       6
288         New Orleans       6
97               Dallas       6
57             Brooklyn       5
387           San Diego       5
422               Tampa       5
248           Manhattan       5
..                  ...     ...
148             Gaylord       1
147              Garner       1
146    Garfield Heights       1
145         Garden City       1
144         Gainesville       1
167            Gunnison       1
168             Guthrie       1
169      Haddon Heights       1
183            Homewood       1
195                Ione       1
194             Inkster       1
191        Independence       1
190         Idaho Falls       1
189          Huntsville       1
188              Hudson       1
187       Huber Heights       1
185            Houghton       1
184              Hoover       1
182           Hollywood       1
170             Hammond       1
181       Hollidaysburg       1
180  Hilton Head Island       1
179            Highwood       1
178             Hickory       1
177      Hendersonville       1
176               Heath       1
175              Hayden       1
174           Haverhill       1
171              Hardin       1
467             Zeeland       1

[468 rows x 2 columns]